
 
 
 
 
 /***********/
 
 /* Flag in header */
 #header-bottom-left{
    background:url(%%flag2%%) repeat-x;
    height: 120px;
    background-size: 100% 100%;
}

/* Fix submit buttons to match new header height */
.sidebox.submit {
   /* top: 106px !important; */
   position: inherit !important;
   display:inline-block;
}
.sidebox.submit.submit-link {
   padding-right:2%;
   width:49%
}
.sidebox.submit.submit-text {
   width:49%
}
.sidebox.submit .morelink {
   /* background-color: #0094FF; */
}

/* Remove unnecessary uppercase in buttons */
.sidebox:not(.create) .morelink {
   text-transform: inherit !important;
}

/* Flag in subscribe button */
.side .subscribe-button a.add.active {
    background-image: url(%%flag2%%) !important;
    background-size: cover !important;
    background-color: transparent !important;
}

/* Hide multi count on subscribe button because it breaks the styling */
span.multi-count.active{
    display:none !important
}

/* Comments like /r/leagueoflegends and /r/videos */
.side .md blockquote{
    margin: 10px 0 !important;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    background: #0094FF;
    border: 1px solid #006bb3;
    border-radius: 2px;
    text-shadow: 0 -1px #006bb3;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    transition: .1s;
    color: #F7F7F7;
}
.side .md blockquote a{
    color:#fff !important;
    text-decoration:underline
}
